*,*::before,*::after{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
   text-decoration: none;
   color: #fff;
}
ul{
    list-style: none;
}
.logo{
    width: 200px;
}
a img{
    width: 100%;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 30px;
    z-index: 3;
}
.desktop-main-menu{
    margin-right: 70px;
}
.desktop-main-menu ul{
    display: flex;
}
.desktop-main-menu ul li a{
   position: relative;
    margin-right: 30px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
    }
.desktop-main-menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
   transform-origin: right center;
}
.desktop-main-menu ul li a:hover::after{
    transform: scaleX(1); 
    transform-origin: left center;
}
section {
   position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: left center;
    text-transform: uppercase;
   
}
    
.section-a{
    background-image: url('img/section-a.webp');
}
.section-b{
    background-image: url('img/section-b.webp');
}
.section-c{
    background-image: url('img/section-c.webp');
}
.section-d{
    background-image: url('img/section-d.webp');
}
.section-e{
    background-image: url('img/section-e.webp');
}
.section-f{
    background-image: url('img/section-f.webp');
}
.inner-section
{
    position:absolute;
    bottom: 150px;
    left: 180px;
    max-width: 560px;
    
}
.inner-section h4{
    font-size: 20
    px;
    font-weight: 300;
    margin-bottom: 5px;
    animation: fadeInUp 0.5s ease-in-out;
}
.inner-section h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}
.inner-section a{
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
}
.btn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid white;
    overflow: hidden;
    z-index: 2;
    font-weight: 500;
}
.btn:hover span{
    color: #000;
    

}
.btn .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    color: #000;
    z-index: -1;
    transform: translateY(400px);
    transition:transform 0.5s cubic-bezier(0.19,1,0.22,1);
    
}
.btn:hover .hover{
transform: translateY(0);
}
footer{
    position: relative;
    padding: 55px 0;

}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer ul li{
    margin-right: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
}
footer ul li a {
    color: #fff;
    transition: color 0.6s;
}
footer ul li a:hover {
    color: #aaa; 
    
}





@keyframes fadeInUp {
    0%{
       opacity: 0;
        transform: translateY(140px);

    }
    100%{

        opacity: 1;
        transform: translateY(0);
    }
}




@media (max-width:960px){
.desktop-main-menu{
    display: none;
}
.inner-section{
    bottom: 70px;
    left: 80px;
}


}
@media (max-width:600px){
    .inner-section{
        bottom: 75px;
        left: 20px;
    }
    footer ul li:first-child{
        position: absolute;
        top:3px;
        left:35%;
        
        
    }
    .logo{
        width: 150px;
        height: auto;
    }
    .section-f.inner-section{

        font-size: 20px;
    }
}