*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}


nav{
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-gap: 10px;
    margin: 20px 60px ;
}
ul{
    display: flex;
    list-style: none;
    
}
ul li{
    padding-left: 30px;
    padding-right: 20px;
}
ul li:hover{
transform: translatex(10px);
color: rgb(212, 42, 0);;
    
}
nav h1{
    color: rgb(212, 42, 0);
}
nav button{
    cursor: pointer;
    background-color:rgb(212, 42, 0) ;
    color: white;
    border: transparent;
    border-radius: 3px;
    padding: 10px 2px;
}
.section1{
    background: url('istockphoto-1288980054-1024x1024-transformed\ \(1\).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.data{
    position: absolute;
    width: 37%;
    top: 25%;
    left: 2%;
    text-align: center;

}
.data h1{
    font-size: 40px;
    margin-bottom: 20px;

}
.data p{
   display: block;
   text-align:center;
}
.data button{
    cursor: pointer;
    background-color:rgb(212, 42, 0) ;
    color: white;
    border: transparent;
    border-radius: 18px;
    padding: 10px 14px;
    width: 17em;
    margin-top: 20px;
}
.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2em 1em 4em 1em;
}
.content{

    width: 50%;
    text-align: center;
    margin: 40px 20px;
}
.cards{
     width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;

}
.cards h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px 5px;  
}
.cards i{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(212, 42, 0) ;

}
.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 10px;
    background-color: rgba(229, 237, 243, 0.733);

}
.main_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 40px;
}
.content h1{
    font-size: 30px;
}
img{
    width: 80%;
}
.part i{
    color: rgb(212, 42, 0);
    margin: 5px 10px;
}
.part h2{
display: inline;

}

@media (max-width:700px) {
    nav{
        grid-gap: 1px;
        width: 100%;
        overflow: hidden;
        margin: 2px 2px;
    }
    ul li{
        padding-left: 6px;
        padding-right: 7px;
        font-size: 12px;
    }
    nav h1{
       font-size: 17px;
    }
    nav button{
        padding: 2px 2px;
        font-size: 10px;
    }
    .section1 {
        background-position: center;
        overflow-x: hidden;
    }
    .data{
        width: 70%;
        top: 47%;
        left: -3%;
    }
    .data h1{
        font-size: 26px;
       
    }
  
    .content{
        width: 80%;
        
    }
    .content h1{
        font-size: 30px;
    }
    .cards{
       grid-template-columns: 1fr ;
   
   }
   .cards h2{
    font-size: 20px;
   }
   .main_section{
   
    grid-template-columns: 1fr ;
   }
   .part h2{
    font-size: 20px;
    
    }
   
   
}