#clockcontainer{
    position: relative;
    border:2px solid red;
    height: 40vw; 
    width:40vw;
    background: url('clock.png') no-repeat;
    background-size: 100%;
    margin: auto;


}
#hour ,#minute ,#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    height: 27%;
    width: 1.5%;
    top: 20%;
    left: 49.5%;
    opacity: 1px;
   
}

#minute{
    height: 31%;
    width: 1%;
    top: 16%;
    left: 49.5%;
  opacity: 0.8;

}
#second{
    height: 35%;
    width: 1%;
    top: 12%;
    left: 49.5%;
   opacity: 0.8;
   
  
}